{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Change Password</h2>

    {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'auctions:change_password' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_old_password">Old Password</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <div class="text-danger">{{ form.old_password.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for id="id_new_password1">New Password</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="text-danger">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for id="id_new_password2">Confirm New Password</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="text-danger">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>
        <input class="btn btn-primary" type="submit" value="Change Password">
        <a href="{% url 'auctions:index' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
